ember/dist/
ember/tmp/
ember/bower_components/
ember/node_modules/

ember/.env*
ember/.pnp*
ember/.sass-cache
ember/.eslintcache
ember/connect.lock
ember/coverage/
ember/libpeerconnection.log
ember/npm-debug.log*
ember/testem.log
ember/yarn-error.log

ember/.node_modules.ember-try/
ember/bower.json.ember-try
ember/npm-shrinkwrap.json.ember-try
ember/package.json.ember-try
ember/package-lock.json.ember-try
ember/yarn.lock.ember-try
ember/DEBUG/

jekyll/.bundle
jekyll/.jekyll-cache
jekyll/vendor
jekyll/_site

nikola/cache
